.counter-button-two {
    position: relative;
    cursor: pointer;
    padding: 2px;
    height: 45px;
    width: 220px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 1000px;
    bottom: 21px;
    border-style: none;
    border-color: rgb(202, 201, 201);
    background-color: #013135;
    font-family: 'Lucida Sans unicode', 'lucida grande', sans-serif;
    color: white;
}